<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">EDIT SCHOOL</h1>
    <div class="col-6 offset-3">
        <form action="/schools/<%=school._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="schoolName">School Name</label>
                <input class="form-control" type="text" id="schoolName" name="school[schoolName]"
                    value="<%=school.schoolName %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="school[location]"
                    value="<%=school.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="school[image]"
                    value="<%=school.image %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="fees">Fees</label>
                <div class="input-group">
                    <span class="input-group-text" id="fees-label">$</span>
                    <input type="text" class="form-control" id="fees" placeholder="0.00" aria-label="fees"
                        aria-describedby="fees-label" name="school[fees]" value="<%=school.fees %>"
                        required>\<div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="school[description]"
                    required><%= school.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">UPDATE SCHOOL</button>
            </div>
        </form>
        <a href="/schools/<%= school._id%>">BACK TO SCHOOL</a>

    </div>
</div>